.main {
    max-width: 450px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.header {
    background-color: #4CA7C0;
    color: white;
    text-align: center;
}

.menu {
    background-color: #E9BB57;
    color: black;
    text-align: center;
}

table {
    display: inline-table;
}

td {
    background-color: white;
    width: 400px;
    font-family: "Inter";
    color: #484FB7;

}

h1 {
    font-family: "Kavoon";
    font-size: 3em;
}

h2 {
    font-family: "Kavoon";
    font-size: 2em;
}

h3 {
    font-family: "Inter";
    font-size: 1.5em;
}

h4 {
    font-family: "Inter";
    font-size: 1.15em;
    font-style: italic;
}